.header {
    position: relative;

    .close {
        position: absolute;
        right: -10px;
        top: -10px;

        &:hover{
            cursor: pointer;
        }
    }
}

.row-buttons {
    display: flex;
    justify-content: space-between;
}
