<div class="container mat-elevation-z8">
    <h1>
        Listado de Clientes
    </h1>
    <table mat-table [dataSource]="dataSource" class="mi-tabla">

        <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef> Pos </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef>Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>
        <ng-container matColumnDef="estadoCivilDesc">
            <th mat-header-cell *matHeaderCellDef> Estado Civil </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoCivilDesc}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button>
                    <mat-icon color="warn" title="Eliminar Cliente" (click)="borrarClick(element.id)">delete</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon color="primary" title="Editar Cliente" (click)="editarClick(element.id)">edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>